*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    margin: 0px;    
    display: flex;        
    /* min-height: 80vh; */
}

.contenedor{
    border: 3px solid black;
    background: #eee;    
    flex: 1 1 auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;        
}

    .campo{
        border: 3px solid black;
        background: rgb(54, 238, 110);        
        position: relative;
        padding: 0px;
        width: 600px;
        height: 600px;
    }

    .contenedor .campo img{
        position: absolute;                
        width: 100px;
        margin: 0px;
        padding: 0px;
        animation: vertical-movement 0.7s linear 0s infinite alternate, horizontal-movement 2.03s linear 0s infinite alternate;    
        top: 0px; /* 25px si quiero un límite superior que no sea el borde, para simular gravedad. */
        left: 0px;        
    }
/* Si no quiero que el movimiento de la pelota afecte a otros elementos, usar transform: translate() para ir cambiando la posición de la pelota.*/
@keyframes vertical-movement {
    to{top: 495px;}    
}

@keyframes horizontal-movement {
    to{left: 495px;}
}